.container {
  max-width: 1200px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font: 600 1.125rem/1.3 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--primary-color-400);
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn.btn-secondary {
  background: var(--neutral-color-1000);
  color: var(--neutral-color-000);
}

.btn.btn-secondary:hover {
  background: var(--neutral-color-900);
}

.btn-icon {
  display: flex;
  align-items: center;
}

.btn-icon::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.3s;
}

.btn-icon:hover::after {
  transform: translateX(5px);
}

.link-cta {
  display: inline-block;
  color: var(--primary-color);
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
}

.link-cta::after {
  content: "";
  display: block;
  width: 100%;
  background-color: currentColor;
  height: 4px;
}

.link-cta:hover {
  color: var(--neutral-color-000);
}

/* Título internas */
.titulo-bg {
  background-color: var(--neutral-color-1100);
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.titulo p {
  margin-bottom: 0.25rem;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .btn {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}
